
@{
    ViewBag.Title = "Index";
}

<h2>Display a teacher and his modules</h2>

<form action="/Teacher/Show" method="GET">
    <div>
        <label for="employeeID">Employee ID</label>
        <select name="teacherEmployeenumber">
            <option>T378</option>
            <option>T381</option>
            <option>T389</option>
            <option>T397</option>
            <option>T382</option>
            <option>T385</option>
            <option>T393</option>
            <option>T401</option>
            <option>T403</option>
            <option>T505</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>


</form>

